// overlay.js
div#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.8);
  z-index: 10;
}

// notification.js
div#notification {
  position: fixed;
  top: -250px;
  left: 0;
  z-index: 20;
  box-shadow: 0 0 10px $xxdark_grey_color;
  width: 100%;
  min-height: 45px;
  transition: all .25s ease-out;
}
div#notification.show { @include transform(translate3d(0,250px,0)); }
div#notification div.container-max-width { padding-right: 50px; }
div#notification a.icon-close { position: absolute; top: 10px; right: 10px; }
.success-btn-background, .success-background a { background-color: $dark_success_color; text-decoration: none; color: $white_color; }
.alert-btn-background, .alert-background a { background-color: $dark_alert_color; text-decoration: none; color: $white_color; }
.warning-btn-background, .warning-background a { background-color: $dark_warning_color; text-decoration: none; color: $white_color; }
.notice-btn-background, .notice-background a { background-color: $dark_notice_color; text-decoration: none; color: $white_color; }
