@import './globals';

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #0E5895;;
  background: #109adc;
  height: 44px;
  color: #fff;
  z-index: 2;
}

#header h1 {
  margin: 0 0 0 10px;
  padding: 0;
  line-height: 44px;
  font-size: 20px;
}

#header button#open-menu {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #0984c6;
  color: #fff;
}

#header a:active {
  background-color: #0876b1;
  color: #fff;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 0);
  overflow: auto;
}

.page .content {
  padding: 55px 10px 10px;
  overflow: auto;
}

.page.left {
  -webkit-transform: translate3d(-100%, 0, 1px);
  transform: translate3d(-100%, 0, 0);
}

.page.center {
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 0);
}

.page.right {
  -webkit-transform: translate3d(100%, 0, 1px);
  transform: translate3d(100%, 0, 0);
}

.page.transition {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}
